<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Video streaming web">
    <meta name="author" content="GROUP XX DAW">
    <title>Streamix</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/adminPelis.js}"></script>
    <script th:src="@{/js/listCommon.js}"></script>
    <script th:src="@{/js/listaAdminPelis.js}"></script>
    <script th:src="@{/js/busquedaAdminPelis.js}"></script>
    <script th:src="@{/js/logOut.js}"></script>
    <!-- stilos -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="peliculas.html">Streamix</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right dropdown">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"
                                                                        aria-hidden="true"></span> Administración</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="adminUsers"></span> Administrar Usuarios</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="" class="logOut">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Desconectar
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
<form th:action="@{/logout}" method="post" id="logOutForm"></form>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <form id="buscar">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar pelicula" id="busqueda">
                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <button class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#modal-create-movie">Crear nueva película</button>
    <br/>
</div>
<div class="container" id="listaPelis">
    <section th:each="peli : ${pelis}" class="row well">
        <div class="col-md-2">
            <img th:id="'portada'+${peli.id}" class="img-responsive center-block" th:src="${peli.portada}" th:alt="${peli.nombre}">
        </div>
        <div class="col-md-7">
            <h2 th:id="'nombre'+${peli.id}" th:text="${peli.nombre}"></h2>
            <div class="row">
                <div class="col-md-6">
                    <p th:id="'anio'+${peli.id}" th:utext="'<strong>Año:</strong>' + ${peli.anio}"></p>
                    <p th:id="'director'+${peli.id}" th:if="${!peli.director.equals('')}" th:utext="'<strong>Director:</strong>' + ${peli.director}"></p>
                    <p th:id="'director'+${peli.id}" th:if="${peli.director.equals('')}"><strong>Director:</strong> -</p>
                    <p th:id="'reparto'+${peli.id}" th:if="${!peli.reparto.equals('')}" th:utext="'<strong>Reparto de actores:</strong>' + ${peli.reparto}"></p>
                    <p th:id="'reparto'+${peli.id}" th:if="${peli.reparto.equals('')}"><strong>Reparto de actores:</strong> -</p>
                    <p th:id="'valoracion'+${peli.id}" th:utext="'<strong>Valoración:</strong>' + ${peli.valoracion}"></p>
                    <p th:id="'url'+${peli.id}" th:utext="'<strong>Url:</strong>' + ${peli.url}"></p>
                </div>
                <div class="col-md-6">
                    <p th:id="'descripcion'+${peli.id}" th:utext="'<strong>Descripción:</strong>' + ${peli.descripcion}"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-warning btnModificar" data-toggle="modal" data-target="#modal-change-movie" th:id="${peli.id}">Modificar</button>
                <button type="button" class="btn btn-danger btnEliminar" data-toggle="modal" data-target="#modal-delete-movie" th:id="${peli.id}">Eliminar</button>
            </div>
        </div>
        <form action="/eliminaPeli" method="post" th:id="'eliminarForm' + ${peli.id}">
            <input type="hidden" th:value="${peli.id}" name="id">
        </form>
    </section>

</div>
<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
<div class="container" id="loadmoreajaxloader"></div>

<!-- Modal -->
<div id="modal-create-movie" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Alta de peliculas</h3>
            </div>
            <form action="addPeli" method="post" id="createForm">
                <div class="modal-body">
                    <div class="form-group has-feedback" id="divName">
                        <input type="text" class="form-control" id="name" name="nombre" placeholder="*Nombre de la película" required="" autofocus="">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorName"></span>
                    </div>
                    <div class="form-group has-feedback" id="divUrl-Cont">
                        <input type="text" class="form-control" id="url-cont" name="url" placeholder="*URL del contenido" required="">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorUrl-Cont"></span>
                    </div>
                    <div class="form-group has-feedback" id="divAnio">
                        <input type="text" class="form-control" id="anio" name="anio" placeholder="Año">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorAnio"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="addr" name="director" placeholder="Director">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="reparto" name="reparto" placeholder="Reparto de actores">
                    </div>
                    <div class="form-group has-feedback" id="divUrl-Port">
                        <input type="text" class="form-control" id="url-port" name="portada" placeholder="URL de la portada">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorUrl-Port"></span>
                    </div>
                    <div class="form-group has-feedback" id="divValoracion">
                        <input type="text" class="form-control" id="valoracion" name="valoracion" placeholder="Valoración">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorValoracion"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="10" id="desc" name="descripcion" placeholder="Descripción"></textarea>
                    </div>
                    <p><small>(*) Apartados obligatorios.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block" id="createFormSubmit">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-change-movie" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Información de la película</h3>
            </div>
            <form action="modificarPelicula" method="post" id="modForm">
                <input type="hidden" name="id" id="idForm">
                <div class="modal-body">
                    <div class="form-group has-feedback" id="divNameForm">
                        <label for="nameForm">Nombre de la película:</label>
                        <input type="text" class="form-control" name="nombre" id="nameForm" required="">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorNameForm"></span>
                    </div>
                    <div class="form-group has-feedback" id="divUrlForm">
                        <label for="urlForm">URL del contenido:</label>
                        <input type="text" class="form-control" name="url" id="urlForm" required="">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorUrlForm"></span>
                    </div>
                    <div class="form-group has-feedback" id="divAnioForm">
                        <label for="anioForm">Año:</label>
                        <input type="text" class="form-control" name="anio" id="anioForm">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorAnioForm"></span>
                    </div>
                    <div class="form-group">
                        <label for="directorForm">Director:</label>
                        <input type="text" class="form-control" name="director" id="directorForm">
                    </div>
                    <div class="form-group">
                        <label for="repartoForm">Reparto de actores:</label>
                        <input type="text" class="form-control" name="reparto" id="repartoForm">
                    </div>
                    <div class="form-group has-feedback" id="divPortadaForm">
                        <label for="portadaForm">URL de la portada:</label>
                        <input type="text" class="form-control" name="portada" id="portadaForm">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorPortadaForm"></span>
                    </div>
                    <div class="form-group has-feedback" id="divValoracionForm">
                        <label for="valoracionForm">Valoración:</label>
                        <input type="text" class="form-control" name="valoracion" id="valoracionForm">
                        <span class="glyphicon glyphicon-remove form-control-feedback" id="errorValoracionForm"></span>
                    </div>
                    <div class="form-group">
                        <label for="descripcionForm">Descripción:</label>
                        <textarea class="form-control" rows="10" name="descripcion" id="descripcionForm"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-block" id="modificar">Aceptar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="modal-delete-movie" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Baja de películas</h3>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de querer dar de baja esta película?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="eliminar">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>