<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Video streaming web">
        <meta name="author" content="GROUP XX DAW">
        <title>Streamix</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
        <script th:src="@{/js/listaAdminUsers.js}"></script>
        <script th:src="@{/js/listCommon.js}"></script>
        <script th:src="@{/js/busquedaAdminUsers.js}"></script>
        <script th:src="@{/js/logOut.js}"></script>
        <script th:src="@{/js/adminUsers.js}"></script>
        <!-- stilos -->
        <link rel="stylesheet" type="text/css" href="../css/base.css">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="peliculas.html">Streamix</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right dropdown">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"
                                                                                aria-hidden="true"></span> Administración</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="adminPelis"></span> Administrar Peliculas</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="" class="logOut">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Desconectar
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <form th:action="@{/logout}" method="post" id="logOutForm"></form>
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <form id="buscar">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar usuario" id="busqueda">
                        <div class="input-group-btn">
                            <button class="btn btn-info">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="container">
            <button class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#modal-create-user">Crear nuevo usuario</button>
            <br/>
            <div class="alert alert-info" th:if="${param.deleted}">
                <p>Usuario eliminado</p>
            </div>
        </div>
        <div class="container"  id="listaUsers">
            <section th:each="user : ${users}" class="row well">
                <div class="col-md-5">
                    <p th:utext="'<strong>Usuario:</strong>' + ${user.usuario}"></p>
                    <p th:utext="'<strong>Email:</strong>' + ${user.email}"></p>
                </div>
                <div class="col-md-4">
                    <p th:utext="'<strong>Tipo:</strong>' + ${user.tipo}"><strong>Tipo:</strong> Usuario</p>
                </div>
                <div class="col-md-3">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-change-user">Modificar</button>
                        <button type="button" class="btn btn-danger btnEliminar" data-toggle="modal" data-target="#modal-delete-user" th:id="${user.id}"">Eliminar</button>
                    </div>
                </div>
                <form action="/eliminaUser" method="post" th:id="'eliminarForm' + ${user.id}">
                    <input type="hidden" th:value="${user.id}" name="id">
                </form>
            </section>
        </div>
        <a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
        <div class="container" id="loadmoreajaxloader"></div>
        <!-- Modal -->
        <div id="modal-create-user" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2 class="modal-title">Alta de usuarios</h2>
                    </div>
                    <form th:action="@{/adminRegisterUsers}" method="post">
                        <div class="modal-body">
                            <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required="" autofocus="" autocomplete="Off" />
                            <input type="text" class="form-control" name="email" placeholder="Email" required="" autocomplete="Off"/>
                            <input type="text" class="form-control" name="emailConf" placeholder="Confirmar email" required="" autocomplete="Off"/>
                            <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>
                            <input type="password" class="form-control" name="passwordConf" placeholder="Confirmar contraseña" required=""/>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="modal-change-user" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title">Información de usuario</h3>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="usr2">Nombre de usuario:</label>
                            <input type="text" class="form-control" value="Manolo López del Valle" id="usr2">
                        </div>
                        <div class="form-group">
                            <label for="email2">Dirección de correo:</label>
                            <input type="text" class="form-control" value="mlopez@pepe.com" id="email2">
                        </div>
                        <div class="form-group">
                            <label for="pwd2">Contraseña:</label>
                            <input type="password" class="form-control" id="pwd2" placeholder="********">
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label for="sel1">Tipo:</label>
                                <select class="form-control" id="sel1">
                                    <option value="0">-- Seleccione el tipo de usuario --</option>
                                    <option value="1">Usuario</option>
                                    <option value="2">Administrador</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-delete-user" class="modal fade" role="dialog">
            <div class="modal-dialog" role="document">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h3 class="modal-title">Baja de usuarios</h3>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de querer dar de baja a este usuario?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="eliminar">Aceptar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>