<section xmlns:th="http://www.thymeleaf.org" th:each="user : ${users}" class="row well">
    <div class="col-md-5">
        <p th:id="'usuario' + ${user.id}" th:utext="'<strong>Usuario:</strong>' + ${user.usuario}"></p>
        <p th:id="'email' + ${user.id}" th:utext="'<strong>Email:</strong>' + ${user.email}"></p>
    </div>
    <div class="col-md-4">
        <p th:id="'tipo' + ${user.id}" th:utext="'<strong>Tipo:</strong>' + ${user.tipo}"><strong>Tipo:</strong></p>
    </div>
    <div class="col-md-3">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-warning btnModificar" data-toggle="modal" data-target="#modal-change-user" th:id="${user.id}">Modificar</button>
            <button type="button" class="btn btn-danger btnEliminar" data-toggle="modal" data-target="#modal-delete-user" th:id="${user.id}">Eliminar</button>
        </div>
    </div>
    <form action="/eliminaUser" method="post" th:id="'eliminarForm' + ${user.id}">
        <input type="hidden" th:value="${user.id}" name="id">
    </form>
</section>