<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Video streaming web">
    <meta name="author" content="GROUP XX DAW">
    <title>Streamix</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- stilos -->
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/css/base.css}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./peliculas.html">Streamix</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right dropdown">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"
                                                                        aria-hidden="true"></span> Administracion</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Administrar Usuarios</a>
                        </li>
                        <li>
                            <a href="#">Administrar Peliculas</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>Log out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar pelicula">
                <div class="input-group-btn">
                    <button class="btn btn-info">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <button class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#modal-create-movie">Crear nueva película</button>
    <br/>
    <section class="row well">
        <div class="col-md-2">
            <img class="img-responsive center-block" src="http://globedia.com/imagenes/noticias/2012/6/10/carteles-favoritos-alien_1_1250766.jpg" alt="Titulo de la peli">
        </div>
        <div class="col-md-7">
            <h2><strong>Título:</strong> Terminator 32</h2>
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Año:</strong> 1359</p>
                    <p><strong>Director:</strong> Miriam Blanco</p>
                    <p><strong>Reparto de actores:</strong> Johny Deep</p>
                    <p><strong>Valoración:</strong> 2/5</p>
                    <p><strong>URL:</strong> http://...</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Descripción:</strong> Ridley Scott vuelve al universo que creó en Alien con Alien: Covenant, el segundo capítulo de la trilogía-precuela que comenzó con Prometheus y que conecta directamente con el trabajo de 1979 de Scott en la ciencia ficción.
                        Anclado en un planeta remoto en el punto más alejado de la galaxia, el equipo de la nave Covenant descubre lo que creen que es un inexplorado paraíso, pero en realidad es un oscuro y peligroso mundo cuyo único habitante es el sintético David (Michael Fassbender), superviviente de la desafortunada expedición Prometheus. </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-change-movie">Modificar</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-delete-movie">Eliminar</button>
            </div>
        </div>
    </section>
</div>

<!-- Modal -->
<div id="modal-create-movie" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Alta de peliculas</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name">*Nombre de la película:</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="url-cont">*URL del contenido:</label>
                    <input type="text" class="form-control" id="url-cont">
                </div>
                <div class="form-group">
                    <label for="year">Año:</label>
                    <input type="text" class="form-control" id="year">
                </div>
                <div class="form-group">
                    <label for="addr">Director:</label>
                    <input type="text" class="form-control" id="addr">
                </div>
                <div class="form-group">
                    <label for="reparto">Reparto de actores:</label>
                    <input type="text" class="form-control" id="reparto">
                </div>
                <div class="form-group">
                    <label for="url-port">URL de la portada:</label>
                    <input type="text" class="form-control" id="url-port">
                </div>
                <div class="form-group">
                    <label for="val">Valoración:</label>
                    <input type="text" class="form-control" id="val">
                </div>
                <div class="form-group">
                    <label for="desc">Descripción:</label>
                    <textarea class="form-control" rows="10" id="desc"></textarea>
                </div>
                <p><small>(*) Apartados obligatorios.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-change-movie" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Información de la película</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="name2">Nombre de la película:</label>
                    <input type="text" class="form-control" id="name2">
                </div>
                <div class="form-group">
                    <label for="url-cont2">URL del contenido:</label>
                    <input type="text" class="form-control" id="url-cont2">
                </div>
                <div class="form-group">
                    <label for="year2">Año:</label>
                    <input type="text" class="form-control" id="year2">
                </div>
                <div class="form-group">
                    <label for="addr2">Director:</label>
                    <input type="text" class="form-control" id="addr2">
                </div>
                <div class="form-group">
                    <label for="reparto2">Reparto de actores:</label>
                    <input type="text" class="form-control" id="reparto2">
                </div>
                <div class="form-group">
                    <label for="url-port2">URL de la portada:</label>
                    <input type="text" class="form-control" id="url-port2">
                </div>
                <div class="form-group">
                    <label for="val2">Valoración:</label>
                    <input type="text" class="form-control" id="val2">
                </div>
                <div class="form-group">
                    <label for="desc2">Descripción:</label>
                    <textarea class="form-control" rows="10" id="desc2"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-delete-movie" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title">Baja de películas</h3>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de querer dar de baja esta película?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>