<section xmlns:th="http://www.thymeleaf.org" th:each="peli : ${pelis}" class="row well"  th:id="'pelicula' + ${peli.id}">
    <div class="col-md-2">
        <img class="img-responsive center-block" th:src="${peli.portada}" th:alt="${peli.nombre}">
    </div>
    <div class="col-md-7">
        <h2 th:text="${peli.nombre}"></h2>
        <div class="row">
            <div class="col-md-6">
                <p th:utext="'<strong>Año:</strong>' + ${peli.anio}"></p>
                <p th:if="${!peli.director.equals('')}" th:utext="'<strong>Director:</strong>' + ${peli.director}"></p>
                <p th:if="${peli.director.equals('')}"><strong>Director:</strong> -</p>
                <p th:utext="'<strong>Reparto de actores:</strong>' + ${peli.reparto}"></p>
                <p th:utext="'<strong>Valoración:</strong>' + ${peli.valoracion}"></p>
                <p th:utext="'<strong>Url:</strong>' + ${peli.url}"></p>
            </div>
            <div class="col-md-6">
                <p th:utext="'<strong>Descripción:</strong>' + ${peli.descripcion}"></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-change-movie">Modificar</button>
            <button type="button" class="btn btn-danger btnEliminar" data-toggle="modal" data-target="#modal-delete-movie" th:id="${peli.id}">Eliminar</button>
        </div>
    </div>
    <form action="/eliminaPeli" method="post" th:id="'eliminarForm' + ${peli.id}">
        <input type="hidden" th:value="${peli.id}" name="id">
    </form>
</section>