<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Video streaming web">
    <meta name="author" content="GROUP XX DAW">
    <title>Streamix</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/login.js}"></script>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../static/css/base.css" th:href="@{/css/base.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Streamix</a>
        </div>
        <!--/.navbar-collapse -->
    </div>
</nav>
<div class="container" id="login">
    <div class="wrapper">
        <form class="form-signin"  th:action="@{/}"  method="post">
            <div class="alert alert-danger" th:if="${param.error}">
                <p>Credenciales invalidas</p>
            </div>
            <div class="alert alert-info" th:if="${param.logout}">
                <p>Desconectado</p>
            </div>
            <div class="alert alert-info" th:if="${param.registered}">
                <p>Registro correcto</p>
            </div>
            <h2>Please login</h2>
            <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <button id="changeRegister" type="button" class="btn btn-link">Not registered?</button>
        </form>
    </div>
</div>

<div class="container" id="register">
    <div class="wrapper">
        <form class="form-signin" th:action="@{/registerUsers}" method="post">
            <h2 class="form-signin-heading">Registro</h2>
            <input type="text" class="form-control" name="username" placeholder="Nombre de usuario" required="" autofocus="" autocomplete="Off" />
            <input type="text" class="form-control" name="email" placeholder="Email" required="" autocomplete="Off" />
            <input type="text" class="form-control" name="emailConf" placeholder="Confirmar email" required="" autocomplete="Off" />
            <input type="password" class="form-control" name="password" placeholder="Contraseña" required=""/>
            <input type="password" class="form-control" name="passwordConf" placeholder="Confirmar contraseña" required=""/>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
            <button id="changeLogin" type="button" class="btn btn-link">¿Ya está registrado?</button>
        </form>
    </div>
</div>
<footer>
    <p>&copy; Dise&ntilde;o de aplicaciones m&oacute;viles.</p>
</footer>
</body>
</html>