<a xmlns:th="http://www.thymeleaf.org" th:each="peli : ${pelis}" class="styless" href="direccion de la peli">
    <section class="row well">
        <div class="col-md-2">
            <img class="img-responsive center-block" th:src="${peli.portada}" th:alt="${peli.nombre}">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <h2 th:text="${peli.nombre}"></h2>
            <span class="text-muted" th:text="${peli.director}"></span>
            <p class="lead" th:text="${peli.descripcion}"></p>
        </div>
    </section>
</a>